:root {
    --color-first: #2974B9;
    --color-second: #0C162E;
    --color-third: #ecf0f1;
}

.main-banner {
    display: flex;
    height: 100vh;
}

.wrapper {
    background: url(../assets/img/wallpaper.jpg) no-repeat center;
    background-size: 811px 100%;
    width: 811px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navigation{
    width: 627px;
    display: flex;
    justify-content: space-evenly;
}

.main-photo {
    width: calc(100vw - 811px);
    background: url(../assets/img/mateus.jpg) no-repeat center;
    background-size: 100% 100%;
    border-left: 4px solid rgba(0, 0, 0, 0.849);
}