:root {
    --color-first: #037171;
    --color-second: #03312E;
    --color-third: #E0FBFC;
}

body {
    background-color: var(--color-first);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-second);
    height: 80px;
    box-shadow: 0 5px 4px #000;
    padding: 0 20px;
}

header .logo {
    width: 60px;
    height: 60px;
    border: 1.5px solid #000;
    border-radius: 10px;
}

header .menu {
    display: flex;
    align-items: center;
}

header .menu a {
    display: flex;
    align-items: center;
    margin-right: 30px;
    color: var(--color-third); 
    font-family: 'Share Tech Mono', monospace;
    font-size: 20px;
    text-decoration: none;  
}

header .menu .link::before {
    content: '';
    display: inline-block;
    background-color: var(--color-first);
    width: 10px;
    height: 10px;
    margin-right: 10px;
    border-radius: 50%;
}

header .menu .button {
    background-color: var(--color-first);
    padding: 18px 20px;
    box-shadow: 5px 5px 8px black;
    border-radius: 10px;
    margin-right: 0;
}


