:root {
    --color-first: #037171;
    --color-second: #03312E;
    --color-third: #E0FBFC;
}

body {
    background-color: var(--color-first);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-second);
    height: 80px;
    box-shadow: 0 5px 4px #000;
}

header .logo {
    margin: 4px 0 0 10px;
    width: 60px;
    height: 60px;
    box-shadow: 0 0 3px #000;
    border-radius: 10px;
}

header .menu {
    display: flex;
    align-items: center;
}

header .menu a {
    margin-right: 30px;
    color: var(--color-third); 
    font-family: 'Share Tech Mono', monospace;
    font-size: 20px;
    text-decoration: none;  
}

header .menu .button {
    background-color: var(--color-first);
    color: var(--color-third);
    height: 60px;
    width: 170px;
    line-height: 60px;
    text-align: center;
    box-shadow: 5px 5px 8px black;
    border-radius: 10px;
}


