.button-arrow {
    width: 50px;
    height: 50px;
    background-color: var(--color-second);
    box-shadow: 3px 3px 5px #000;
    cursor: pointer;
}

.button-arrow .content {
    display: none;
}

.button-arrow::before {
    content: '';
    display: block;
    box-sizing: border-box;
    width: 17px;
    height: 17px;
    border: 17px solid transparent;
}

.button-arrow.-right::before {
    border-left: 28px solid var(--color-third);
    transform: translateX(5px);
}

.button-arrow.-left::before {
    border-right: 28px solid var(--color-third);
    transform: translateX(-15px);
}
