.main-header {
    background-color: var(--color-second);
    border-bottom: 4px solid rgba(0, 0, 0, 0.849);
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.main-header .logo {
    width: 60px;
    height: 60px;
    border: 1.5px solid #000;
    border-radius: 10px;
}
