.main-button {
    background-color: var(--color-first);
    box-shadow: 5px 5px 8px #000;
    color: var(--color-third);
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
    padding: 18px 20px;
    margin-right: 0;
    border-radius: 10px;
    transition: transform 0.2s;
    cursor: pointer;
}

.main-button:hover {
    box-shadow: 0 0 0;
    transform: scale(1.1);
}

.main-button.-full {
    width: 100%;
}

.main-button.-full:hover {
    transform: scale(1.01);
}