.main-carousel {
    position: relative;
    padding: 0 85px 0 85px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.main-carousel::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 75px;
    top: 49px;
    display: block;
    height: 5px;
    width: calc(100% - 150px);
    background-color: #000;
}

.main-carousel::before {
    content: '';
    position: absolute;
    box-sizing: border-box;
    left: 0;
    top: 49px;
    display: block;
    border-top: 5.3px dashed #000;
    width: 100%;
}

.main-carousel .button-arrow {
    position: absolute;
    bottom: 64px;
    transform: translateY(50%);
}

.main-carousel .button-arrow.-left {
    left: 15px;
}

.main-carousel .button-arrow.-right {
    right: 15px;
}

.main-carousel .items {
    width: 100%;
    overflow: hidden;
}

.main-carousel .elements {
    display: flex;
    justify-content: space-between;
    transition: transform 0.2s linear;
}
