.main-form {
    padding: 50px 40px;
    background-color: var(--color-second);
}

.main-form .main-title {
    margin-bottom: 50px;
}

.main-form label {
    margin: 0;
    color: var(--color-third);
    font-size: 30px;
    line-height: 40px;
}

.main-form .main-input {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #000;
    font-size: 30px;
    height: 50px;
    padding-left: 7px;
    padding-right: 7px;
    margin-bottom: 20px;
    outline: none;
}

.main-form .main-input.-textarea {
    height: 250px;
    margin-bottom: 40px;
}
